{% spaceless %}{% verbatim %}
<div id="photos" lr-infinite-scroll="addMoreItems">
    <div ng-repeat="photo in photos" on-last-repeat>
        <img ng-src="{{ photo.thumb_url }}" style="float: left;">
    </div>
</div>
{% endverbatim %}{% endspaceless %}
