{% verbatim %}
<div ng-controller="loginCtrl" class="container">
    <form ng-submit="submit()" class="form-signin">
        <h2 class="form-signin-heading">Authentification</h2>
       
        <input ng-model="user._username" type="text" name="user" placeholder="Username" />
        <input ng-model="user._password" type="password" name="pass" placeholder="Password" />
        <input class="btn btn-primary" type="submit" value="Login" />

        <div ng-cloak class="bg-danger" style="margin-top: 10px;">{{ message }}</div>
    </form>
</div>
{% endverbatim %}

