<!DOCTYPE html>

<html lang="{{ app.request.locale|split('_')[0] }}">
<head>
    <title>Photonizer</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>

{% stylesheets '@JmoatiPhotosBundle/Resources/public/css/app.css' %}
<link href="{{ asset_url }}" rel="stylesheet" media="screen">
{% endstylesheets %}
{% stylesheets
'@JmoatiPhotosBundle/Resources/public/css/justifiedGallery.min.css'%}
<link href="{{  asset_url }}" rel="stylesheet" media="screen">
{% endstylesheets %}

<body ng-app="photonizer">
    <div ng-view></div>

    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.4.5/angular-route.min.js"></script>
    <script src="{{ asset('bundles/bazingajstranslation/js/translator.min.js') }}"></script>
    <script src="{{ url('bazinga_jstranslation_js') }}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>

    {% javascripts
    '@JmoatiPhotosBundle/Resources/public/js/app.js'
    '@JmoatiPhotosBundle/Resources/public/js/ng-infinite-scroll.min.js'
    '@JmoatiPhotosBundle/Resources/public/js/jquery.justifiedGallery.min.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
</body>
</html>
